/* global color variables */
:root {
    --main-color: navy;
    --secondary-color: ivory;
    --tertiary-color: gainsboro;
}
/* general and class styling */
.header {
    text-align: center;
}
body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16pt;
    margin: 3em;
    background-color: var(--secondary-color);
    color: var(--main-color);
    text-align: justify;
}
h2 {
    font-style: italic;
}
div {
    width: 850pt;
    padding: 25pt;
}
ul {
    list-style-type: square;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
li {
    text-align: left;
}
.solid_line {
    border-top: 3pt solid var(--tertiary-color);
}
.navbar {
    overflow: hidden;
    background-color: var(--main-color);
}
.navbar a {
    font-size: 14pt;
    float: left;
    display: block;
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
    width: 25%; 
}
.navbar a:hover {
    background-color: var(--tertiary-color);
    color: var(--main-color);
}
.column {
    float: left;
    padding: 10px;
}
.column.side {
    width: 20%;
}
.column.middle {
    width: 75%;
}
.bottom {
    width: 100%;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footbar {
    font-size: 12pt;
    color: var(--secondary-color);
    background-color: var(--main-color);
    text-align: center;
    position: relative;
    width:100%;
    bottom:0px;
}
.footbar a:link {
    color: var(--secondary-color);
    text-decoration: underline;
}
.footbar a:visited {
    color: var(--secondary-color);
    text-decoration: underline;
}
/* id styling */
#introduction {
    float: left;
    color: var(--main-color);
    text-align: center;
    padding: 10pt;
    margin: auto;
}
#profile_picture img{
    float: left;
    border-radius: 50%;
}
#asu_logo, #gm_logo {
    float: left;
    padding-top: 25pt;
    padding-left: 5pt;
}
#bu_logo, #suns_logo {
    float: right;
    padding-top: 25pt;
}
#career_goals {
    width: 100%;
    text-align: justify;
}
#hobbies_table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#hobbies_table td, th {
    border: 1pt solid var(--secondary-color);
    padding: 8pt;
}
#hobbies_table tr:hover {
    background-color: var(--tertiary-color)
}
#hobbies_table th {
    padding-top: 12pt;
    padding-bottom: 12pt;
    text-align: center;
    background-color: var(--main-color);
    color: var(--secondary-color);
}
/* media sizing styling - Phone Portrait*/
@media screen and (max-width: 375px) {
    div {
        width: auto;
    }
    body {
        font-size: 8pt;
    }
    h2, h3 {
        text-align: center;
    }
    .navbar a {
        float: none;
        width: 100%;
    }
    img {
        float: none;
        align-self: auto;
        width:100%;
        max-width:150px;
    }
    embed {
        width: auto;
        height: auto;
    }
    table {
        width: 10%;
    }
    .row {
        width: auto;
    }
    .solid_line {
        border-top: 3pt solid var(--secondary-color);
    }
    .column.side, .column.middle {
        width: auto;
    }
    .footbar {
        float: none;
        align-self: auto;
    }
}
/* media sizing styling - Tablet Portrait*/
@media screen and (max-width: 728px) {
    div {
        width: auto;
    }
    body {
        font-size: 10pt;
    }
    h2, h3 {
        text-align: center;
    }
    .navbar a {
        float: none;
        width: 100%;
    }
    img {
        float: none;
        align-self: auto;
        width:100%;
        max-width:250px;
    }
    embed {
        width: auto;
        height: auto;
    }
    table {
        width: 25%;
    }
    .row {
        width: auto;
    }
    .solid_line {
        border-top: 3pt solid var(--secondary-color);
    }
    .column.side, .column.middle {
        width: auto;
    }
    .footbar {
        float: none;
        align-self: auto;
    }
}
