body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    margin: 3em;
    background-color: ivory;
    color: navy;
}
.navbar {
    overflow: hidden;
    background-color: navy;
}
.navbar a {
    font-size: 14pt;
    float: left;
    display: block;
    color: ivory;
    text-align: justify;
    padding: 10pt 14pt;
    text-decoration: none;
}
.navbar a:hover {
    background-color: gainsboro;
    color: navy;
}
footer {
    font-size: 12pt;
    color: ivory;
    background-color: navy;
}
.footbar a:link {
    color: ivory;
    text-decoration: underline;
}
.footbar a:visited {
color: darkgray;
text-decoration: underline;
}
@media screen and (max-width: 600px) {
    .navbar a {
      float: left;
      width: 100%;
    }
    .footbar {
      float: left;
      width: 100%;
    }
}